@model HomeUtilities.Models.MealPlan.MealPlanSearchModel
@{
    ViewData["Title"] = "Meal Plan";
}

@section Actions {
    <button type="button" class="btn btn-primary" onclick="window.location='@Url.Action("Index", "MealPlan")';">Back</button>
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Meal Planning</h1> 
            
            <table class="table table-hover results-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        @* <th>Summary</th> *@
                        <th>Dish Types</th>
                        <th>Ready In</th>
                        <th>Links</th>
                    </tr>                   
                </thead>
                <tbody>
                    @foreach (var recipe in Model.Results)
                    {
                        <tr class="recipe-result-row">
                            <td class="recipe-title" onclick="window.location='@Url.Action("RecipeDetails", "MealPlan", new { spoonacularId = recipe.SpoonacularId })';">@recipe.Title</td>
                            <td>@recipe.DishTypes</td>
                            @* <td>@Html.Raw(recipe.Summary)</td> *@
                            <td>@string.Format("{0}", recipe.ReadyInMinutes != null ? $"{recipe.ReadyInMinutes} Minutes" : "Unavailable")</td>
                            <td>
                                <a href="@recipe.SourceUrl" target="_blank">Source</a>
                                <a href="@recipe.ImageUrl" target="_blank">Image</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.HiddenFor(m => m.TotalRecipes)
            @Html.HiddenFor(m => m.NumSavedMeals)
            @Html.HiddenFor(m => m.IncludedTags)
            @Html.HiddenFor(m => m.ExcludedTags)
            <input type="hidden" value="false" id="RefreshResults" name="RefreshResults" />

            <div class="text-center">
                <button type="button" class="btn btn-primary" onclick="window.location='@Url.Action("GenerateMoreMeals", "MealPlan")';">Load More</button>
            </div>
        </div>
    </div>
</div>
